.mycard{
    width: 290px !important;
    height: max-content !important;
    margin: 10px;
   
}
.mycard-body{
    background-color: rgb(226, 234, 234) !important;
}
.mycard-img-top{
    width: 70% !important;
    height: 180px !important;
    margin-top: 10px;
}
.mycard-text{
    font-size: 11px !important;
    /* border: 2px solid red; */
    height: 70px !important;
    overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.mycard svg{
    color: goldenrod !important;
}

.name{
    height: 56px;
    font-size: 15px;
    overflow: hidden;
}
.count{
    font-size: 10px !important;
    margin-left: 6px !important;
}