.card{
    width: 240px;
    margin: 20px;
    height: 460px !important;
}
img{
    width: 100% !important;
    height: 40%;
    margin: auto;
}
/* .card:hover{
    scale: 1.03;
    transition: 0.7s;
} */
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.addcart{
 
}

.item-detail{
    background-color: rgba(179, 177, 177, 0.583);
}

.price{
    margin: 0.25px;
    font-weight: 500;
}

.detail{
    /* border: 1px solid black; */
    font-size: 13px;
}