.home-main{
    background-color: #555555;
    width: 100%;
    height: max-content;
    border: 2px solid #555555;
}

.productContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
